In [15]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import bokeh 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [16]:
a = "Wine_data.xlsx"
df = pd.read_excel(a)
x = df.iloc[:,0:9]
y = df.iloc[:,-1]
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [17]:
df.head(2)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.001,3.0,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.994,3.3,0.49,9.5,6

In [18]:
x.head(2)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.001,3.0
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.994,3.3

In [6]:
x_test.shape

(980, 9)

In [7]:
df = LinearRegression()
df.fit(x_train,y_train)
print(df.intercept_)
print(df.coef_)
y_pred = df.predict(x_test)
df1 = pd.DataFrame({"Actual": y_test, "Predicted":y_pred})

282.6674538174849
[ 1.81371323e-01 -1.76432654e+00  7.13999502e-02  1.23302349e-01
 -6.04377782e-01  3.87490077e-03  2.26181596e-04 -2.84123159e+02
  1.23690198e+00]

In [8]:
df1.head(5)

      Actual  Predicted
2762       5   5.694515
42         6   5.479408
1419       7   6.213498
3664       8   6.858116
2125       5   6.002762

In [10]:
df1.shape

(980, 2)

In [11]:
y.max()

9

In [12]:
y.min()

3

In [13]:
from sklearn import metrics
print("Mean Absolute Error:",metrics.mean_absolute_error(y_test,y_pred))
print("Mean Squared Error:",metrics.mean_squared_error(y_test,y_pred))
print("Root Mean Squared Error:",np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

Mean Absolute Error: 0.6378827508346685
Mean Squared Error: 0.6963915694157944
Root Mean Squared Error: 0.8345007905423424