In [31]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import bokeh

In [32]:
a = "Wine_data.xlsx"
df = pd.read_excel(a)

In [33]:
df.shape

(4898, 12)

In [34]:
x = df.iloc[:,0:9]
y = df.iloc[:,-1]

In [35]:
x.head(2)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.001,3.0
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.994,3.3

In [36]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [27]:
x_test.head(2)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH
2762,7.3,0.32,0.35,1.4,0.050,8.0,163.0,0.99244,3.24
42,7.0,0.31,0.26,7.4,0.069,28.0,160.0,0.99540,3.13

In [28]:
x_test.shape

(980, 9)

In [8]:
df = LinearRegression()
df.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [9]:
print(df.intercept_)

282.6674538174849

In [11]:
print(df.coef_)

[ 1.81371323e-01 -1.76432654e+00  7.13999502e-02  1.23302349e-01
 -6.04377782e-01  3.87490077e-03  2.26181596e-04 -2.84123159e+02
  1.23690198e+00]

In [12]:
y_pred = df.predict(x_test)

In [21]:
df1 = pd.DataFrame({"Actual": y_test, "Predicted":y_pred})

In [22]:
df1.head(5)

      Actual  Predicted
2762       5   5.694515
42         6   5.479408
1419       7   6.213498
3664       8   6.858116
2125       5   6.002762

In [23]:
df1.shape

(980, 2)